body {
    font-family: 'Poppins';
}

.container {
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-template-areas:
        "header header header header"
        "nav nav nav nav"
        "main main main main"
        "footer footer footer footer"
    ;
}
/*Tablet View Container*/
/* @media (max-width: 830px) {
    .container{
        grid-template-areas: 
        "header "
        "nav "
        "main "
        "footer ";
        max-width: 830px;
        width: 100%;
    }
} */

/*Cellphone View Container*/
/* @media (max-width: 430px) {
    .container{
        grid-template-areas: 
        "header  "
        "nav "
        "main "
        "footer"
        ;
        max-width: 430px;
        width: 100%;
    }
} */
header{
    grid-area: header;
}
nav{
    grid-area: nav;
}
main{
    grid-area: main;
    max-width: 1830px;
}
footer{
    grid-area: footer;
}

/* hero css */
.hero{
    display: flex;
    background-color: #6805f2;
    height: 190px;
    justify-content: center;
}
.info{
    display: block;
    justify-content: center;
    height: 100px;
    margin-top: 50px;
    color: #fff;
}
.info h1{
    font-size: 55px;
    height: 50;
    width: 50;
    margin: 0;
}
.info p{
    font-size: 30px;
    margin: 0 0 0 30px;
}
/* contacts css */
.contacts{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 500px;
}
/*contact-info css*/
.contact-info{
    display: block;
    margin-left: 50px;
    width: 500px;
    height: 200px;
}
.cont{
    display: flex;
    height: 70px;
}
.image{
    width: 70px;
    height: 60px;
    margin: 10px;
    background-color: #6805f2;
}
.cont h3{
    margin: 10px 0 0 0;
}

/* mess-login */
.mess-login{
    width: 500px;
    height: 500px;
}
.login{
    display: flex;
    height: 25px;
    width: 70px;
    padding: 10px ;
}
.login input{
    margin-right: 10px;
}

.login-2{
    width: 140px;
    height: 70px;
    padding: 10px;
}
.login-2 input{
    width: 350px;
    height: 70px;
}
/* button css */
.btn{
    margin: 10px;
    background-color: #6805f2;
    color: #fff;
}
/* google map css */
.g-maps{
    display: block;
    text-align: center;
    background-color: rgb(202, 194, 194);
    height: 500px;
}
.find h1{
    margin-top: 20px;
    color: #6805f2;
}
.map-img {
    display: flex;
    text-align: center;
    width: 400px;
    height: 350px;
    margin-left: 320px;
    background-color: #6805f2;

}



