body {
    font-family: 'Poppins';
}

.container {
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-template-areas:
        "header header header header"
        "nav nav nav nav"
        "main main main main"
        "footer footer footer footer"
    ;
}
/*Tablet View Container*/
@media (max-width: 830px) {
    .container{
        grid-template-areas: 
        "header "
        "nav "
        "main "
        "footer ";
        max-width: 830px;
        width: 100%;
    }
}

/*Cellphone View Container*/
@media (max-width: 430px) {
    .container{
        grid-template-areas: 
        "header  "
        "nav "
        "main "
        "footer"
        ;
        max-width: 430px;
        width: 100%;
    }
}
header{
    grid-area: header;
}
nav{
    grid-area: nav;
}
main{
    grid-area: main;
}
/* row-1 css */
.row-1{
    display: flex;
    justify-content: space-between;
    border-bottom: 5px #6805f2 solid ;
    padding: 20px;
    color: #6805f2;
}
.categ .prce b{
    font-size: 50px;
}
input{
    width: 100px;
    height: 30px;
}
/*Tablet View Container*/
@media (max-width: 830px) {
    .row-1{
        max-width: 830px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 3px #6805f2 solid ;
        padding: 20px;
        color: #6805f2;
    }
    .categ .prce b{
        font-size: 30px;
    }
    input{
        width:80px;
        height: 25px;
    }
}
@media (max-width: 430px) {
    .row-1{
        max-width: 430px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 3px #6805f2 solid ;
        padding: 20px;
        color: #6805f2;
    }
    .categ .prce b{
        font-size: 20px;
    }
    input{
        width: 70px;
        height: 25px;
    }
}



/* cards css */
.cardbox{
    display: flex;
    justify-content: space-evenly;
    max-width: 1830px;
    height: 500px;
}
.Category-box{
    overflow: hidden;
    margin-top: 2rem;
    width: 260px;
    height: 450px;
    border-radius: 13px;
    background-color: #dbd5d5;
}
/*Tablet View */
@media (max-width: 830px) {
    .cardbox{
        grid-area: main;
        max-width: 830px;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 300px;
    }
    
    .Category-box{
        max-width: 830px;
        overflow: hidden;
        margin-top: 2rem;
        width: 150px;
        height: 250px;
        border-radius: 13px;

    }
}
/*Cellphone View*/
@media (max-width: 430px) {
    .cardbox{
        max-width: 430px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        width: 100%;
        height: 700px;
    }
    
    .Category-box{
        max-width: 430px;
        overflow: hidden;
        margin-top: 10px;
        width: 100px;
        height: 190px;
        border-radius: 10px;
    }
}
/* product css */
.product img{
    overflow: hidden;
    width: 100%;
    height: 200px;
}
@media (max-width:830px){
    .product img{
        overflow: hidden;
        width: 100%;
        height: 125px;
    }
}
@media (max-width: 430px) {
    .product img{
        overflow: hidden;
        width: 100%;
        height: 90px;
    }
}

/* Category css */
.category p{
    font-size: 15px;
    color: rgba(109, 107, 107, 0.911);
    margin: 0;
    padding: 5px;
}
/*Tablet View*/
@media (max-width: 830px) {
    .category p{
        font-size: 10px;
        color: rgba(128, 126, 126, 0.911);
        margin: 0;
        padding: 5px;
    }
}

/*Cellphone View*/
@media (max-width: 430px) {
    .category p{
        font-size: 8px;
        color: rgba(128, 126, 126, 0.911);
        margin: 0;
        padding: 2px;
    }
}
/* productname css */
.productname{
    margin: 0;
    padding: 0;
    font-size: 30px;
}
.productname p{
    margin: 0;
    padding: 0 0 10px 10px;
}
/*Tablet View */
@media (max-width: 830px) {
    .productname{
        margin: 0;
        padding: 0;
        font-size: 15px;
    }
    .productname p{
        margin: 0;
        padding: 0 0 10px 10px;
    }
}

/*Cellphone View */
@media (max-width: 430px) {
    .productname{
        margin: 0;
        padding: 5PX;
        font-size: 10px;
    }
    .productname p{
        margin: 0;
        padding: 0 0 5px 2px;
    }
}
/* rating css */
.rating{
    display: flex;
    padding: 5px;
}
.rating img {
    width: 80px;
    height: 10px;
    padding-left: 5px;
}
.rating p{
    font-size: 13px;
    margin: 0;
    padding-left: 5px;
}
/*Tablet View */
@media (max-width: 830px) {
    .rating{
        display: flex;
        padding: 0;
    }
    .rating img {
        width: 60px;
        height: 10px;
        padding-left: 5px;
    }
    .rating p{
        font-size: 10px;
        margin: 0;
        padding-left: 5px;
    }
}

/*Cellphone View*/
@media (max-width: 430px) {
    .rating{
        display: flex;
        padding: 0;
    }
    .rating img {
        width: 40px;
        height: 7px;
    }
    .rating p{
        font-size: 8px;
        margin: 0;
        padding-left: 3px;
    }
}
/* price css */
.newprice{
    display: flex;
    margin: 0;
    padding-left: 5px;
    padding-top: 10px;
    font-size: 30px;
    color: #6805f2;
}
.oldprice{
    font-size: 20px;
    color: rgb(155, 151, 151);
    padding-left: 10px;
    margin: 0;
}
/*Tablet View */
@media (max-width: 830px) {
    .newprice{
        display: flex;
        margin: 0;
        padding-left: 5px;
        font-size: 15px;
        color: #6805f2;
    }
    .oldprice{
        font-size: 12px;
        color: rgb(155, 151, 151);
        padding-left: 10px;
        margin: 0;
    }
}

/*Cellphone View*/
@media (max-width: 430px) {
    .newprice{
        display: flex;
        margin: 0;
        padding-left: 3px;
        font-size: 14px;
        color: #6805f2;
    }
    .oldprice{
        font-size: 10px;
        color: rgb(155, 151, 151);
        padding-left: 8px;
        margin: 0;
    } 
}
.ads-box {
    display: flex;
    justify-content: center;
}
.ads img{
    width: 600px;
    height: 300px;
    margin: 20px;
}
@media (max-width: 830px) {
    .ads-box{
        display: flex;
        justify-content: center;
        max-width: 830px;
        width: 100%;
        margin-top: 10px;
        
    }
    .ads img{
        width: 250px;
        height: 125px;
        margin: 5px;
    }
}
@media (max-width: 430px) {
    .ads-box{
        display: flex;
        justify-content: center;
        max-width: 430px;
        width: 100%;
        margin-top: 10px;
        
    }
    .ads img{
        width: 200px;
        height: 100px;
        margin: 5px;
    }
}
/* next-page css */
.next-page{
    display: flex;
    justify-content: flex-end;
    height: 70px;
    border-top: 2px #6805f2 solid;
}
.btn a{
    text-decoration: none;
}
.btn{
    margin: 10px 5px;
    width: 50px;
    height: 50px;
}